<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IN PROGRESS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
</head>
<body>
    <table class="table table-bordered table-striped" id="list-table">
        <thead>
        <tr>
            <th></th>
            <th>Product</th>
            <th>Net weight</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:style="'background:url('+ ${product.pict_url} +');background-repeat: no-repeat;background-size: 100%;'"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.net_weight}"></td>
            <td><span th:text="${product.price_in_soms}"></span> soms</td>
        </tr>
        </tbody>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>